<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 mb-4 text-center">
      <h1 class="mb-4">About Doc</h1>
      <img src="assets/doc.jpg">
    </div>
    <div class="col-lg-7 p-4">
      <p>David "Doc" Uber is a veteran of the United States Army whose life was radically changed at age 38 when he was introduced
        to a Man who recreated his heart. Prior to this spiritual change in his life, he was a functional alcoholic
        stumbling through life and multiple marriages.</p> 
        <p>Doc began college at the age of 49 and is an alumnus of the University of Maine-Orono, having obtained both BA and MA degrees. He has been ordained in the Free Methodist
        Church of North America and has pastored several churches, both in Maine and Pennsylvania. As a former drummer
        and guitarist, Doc has also served as worship leader, as well as, mentor to those called to be worship
        leaders.</p>
        <p>After retiring as a pastor, he began a Celebrate Recovery Group at his brother-in-law’s church and
        served as the group’s overseer for 5 years. During that time, he also provided counseling services at the
        church, providing, guidance/encouragement to those working through addictions, relationships, and spiritual
        growth.</p>
        <p>Doc is finally really retired and living in Maine with his loving wife Deborah Jo.</p>
      <p>More about Doc is uncovered in his autobiography (coming soon!).</p>
    </div>
  </div>
</div>