<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Contact Doc</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim ac urna a porttitor. Suspendisse
        convallis ipsum eros, nec placerat tortor semper ut. Nullam condimentum nunc et felis scelerisque fringilla.
        Aliquam pharetra urna in arcu aliquam vestibulum. Suspendisse rhoncus pretium faucibus. Nullam placerat lorem
        mauris, ac sagittis ipsum pulvinar sit amet. Suspendisse vel auctor tellus, at cursus ipsum. Curabitur a nisi
        vitae arcu sodales volutpat at non nibh. Vivamus et nibh ac mauris dignissim vulputate. Suspendisse odio dolor,
        congue a egestas ut, imperdiet in velit. Mauris at fringilla erat, et bibendum felis.</p>
    </div>
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim ac urna a porttitor. Suspendisse
        convallis ipsum eros, nec placerat tortor semper ut. Nullam condimentum nunc et felis scelerisque fringilla.
        Aliquam pharetra urna in arcu aliquam vestibulum. Suspendisse rhoncus pretium faucibus. Nullam placerat lorem
        mauris, ac sagittis ipsum pulvinar sit amet. Suspendisse vel auctor tellus, at cursus ipsum. Curabitur a nisi
        vitae arcu sodales volutpat at non nibh. Vivamus et nibh ac mauris dignissim vulputate. Suspendisse odio dolor,
        congue a egestas ut, imperdiet in velit. Mauris at fringilla erat, et bibendum felis.</p>
    </div>
  </div>
</div>