div.card > img {
  height: 300px;
  width: 200px;
}

.btn-amazon {
  background-color: #febd69;
}

.btn-amazon:hover {
  background-color: #f3a847;
}

.jumbotron {
  background-image: linear-gradient(to bottom right, #0064b1, #002246);
  color: white;
}
