<div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let book of books">
      <div class="card">
        <img [src]="book.imgPath" [alt]="book.name" class="img-responsive">
        <div class="card-body">
          <h5 class="card-title">{{ book.name }}</h5>
          <p class="card-text">{{ book.description }}</p>
          <a href="https://www.amazon.com/" class="btn btn-success"><i class="fa fa-amazon mr-2" aria-hidden="true"></i>Buy on Amazon</a>
        </div>
      </div> 
    </div>    
  </div>   
</div>
